.homeForm {
  /* margin-top: -0.2rem;
  background: #f7f4f4;
  display: flex;
  justify-content: center;
  flex-direction: row;   */
}

@media screen and (max-width: 992px){
  /* .homeForm{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    top: 0;
    width: auto;
    bottom: 0;
  } */
}

.searchType {
  font-size: 3px;
}