.title, label {
  font-family: Tahoma;
  color: darkslategray;
}

.card_detail {
  margin-top: 0.2rem;
  text-align: left;
}

.label {
  font-weight: 600;
}

.span {
  font-weight: lighter;
}

.mB {
  margin-bottom: -1.5rem;
}

.edit {
  position: absolute;
  float: right;
  margin-top: -2rem;
}

.button {
  border: none;
  background: none;
}

.quantity {
  font-size: 1.2rem;
}

.comments {
  /* display: flex; */
  flex-direction: column;
}

.commentsSection {
  margin-top: -30px;
}

.btnRate {
  border: none;
  background: none;
}

.view-shop {
  background: red;
  padding: 6px;
  margin-top: -2.4rem;
  position: absolute;
  margin-left: 5rem;
  color: white;
  border-radius: 5px;
}

.view-shop:hover {
  background: green;
  /* margin-bottom: -15px; */
}

.view-shop-link {
  margin-bottom: -1rem;
}

.view-map {
  background: grey;
  padding: 6px;
  margin-top: -2.4rem;
  position: absolute;
  margin-left: 11rem;
  color: white;
  border-radius: 5px;
}

.view-map:hover {
  background: green;
}

